@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html , body{
    height: 100%;
    width: 100%;
}
.banner {
    height: 100%;
    position: relative;
}
.banner .product {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    --left: 0px;
    display: flex;
    
}
.soda {
    background: var(--url) var(--left) 0,
    url(assets/cane-sample.png);
    transition: 0.2s ease-out;
    background-size: auto 100%;
    width: 60%;
    aspect-ratio: 2/4.08;
    background-blend-mode: multiply;
    mask-image: url(assets/cane-sample.png);
    mask-size: auto 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#s2 {
    opacity: 0;
    transition: 0.2s ease-out;
}
